/* ...existing code... */




.prev-word-container {
     background-color: red;
}
.prev-word {
    color: gray;
    margin: 0 10px;
}


.current-word-container {
    background-color: gray;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 25px;
}
.correct-letter {
    color: green;
}


.future-word-container {
    background-color: green;
}
.future-word {
    color: lightgray;
    margin: 0 10px;
}
