/* ...existing code... */

.game {
    /* display: flex;
    width: 100vw;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden; */
}


.prev-word-container {
     background-color: red;
}
.prev-word {
    color: gray;
    margin: 0 10px;
}


.current-word-container {
    background-color: blue;
}
.correct-letter {
    color: green;
}


.future-word-container {
    background-color: green;
}
.future-word {
    color: lightgray;
    margin: 0 10px;
}
