
.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 2rem;
    background-color:lightblue;
    justify-content: flex-start;
    align-items: center;
    
}

h1{
    display: inline-flex;
    margin: 0;
}

ul{
    display: inline-flex;
    margin: 0;
    padding:0;
    text-align: right;
    margin-left: auto;
    margin-right: 1.5rem;
    justify-content: space-between;
   

    list-style: none;
        
}

button {
    margin: 25px;
}

